<!DOCTYPE html>
<html lang="en">
<head>
 <title>Brandzbix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="img/brandzbixfavicon.ico">
   <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/docs.theme.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
  <script src="js/popper.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
   <!-- <script src="js/jquery.min.js"></script> -->
   <script src="owlcarousel/owl.carousel.js"></script>
   <link rel="stylesheet" href="css/jquery.classyscroll.css"/> 
   <script src="js/custom-new.js"></script>	
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
   <script type="text/javascript" src="js/jquery.classyscroll.js"></script>
   <link rel="stylesheet" media="screen" href="css/jquery.classyscroll.css" />
   <style>	
  <!-- Make the image fully responsive -->
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  </style>
  <script>
            $(document).ready(function() {
                $('.scrollbars').ClassyScroll();
            });
        </script>
  <script>
	$(window).scroll(function() {    
		var scroll = $(window).scrollTop();

		if (scroll >= 75) {
			$(".clearHeader").addClass("darkHeader");
		} else {
			$(".clearHeader").removeClass("darkHeader");
		}
	});
</script>
  
</head>
<body>
<header class="navbar-sec" id="topheader">
	<nav class="clearHeader">
	<div class="container-fluid">
		<div class="menu-icon">
		<i class="fa fa-bars fa-2x"></i>
		</div>
		<div class="logo">
			<a href="index.html">
				<img src="img/logo-new.png">
			</a>
		</div>
		<div class="menu">
			<ul>
				<li><a class="active" href="index.html">HOME</a></li>
				<li><a class="" href="news.html">NEWS</a></li>
				<li><a class="" href="store.html">STORE</a></li>
				<li><a class="" href="job.html">JOBS</a></li>
				<li><a class="" href="coupon.html">COUPONS</a></li>
				<li><a class="" href="dealwithus.html">DEALS</a></li>
				<li class="center-link"><a class="" href="quize.html">QUIZE</a></li>								
				<li><a class="" href="signIn.html"  style="font-weight:600;"><i class="fa fa-user-circle-o" style="margin-right:4px;"></i> Sign In</a></li>
				<li><a class="" href="signUp.html" style="font-weight:600;"><i class="fa fa-user-circle-o"  style="margin-right:4px;"></i> Sign Up</a></li>
				<li class="count-kart"><a class="" href="add-kart.html" style="font-weight:600;"><i class="fa fa-shopping-cart" style="margin-right:4px;"></i><span class="kart-box">1</span> Cart</a></li>								
				<li class="profile-dlt">
					<a href="#" onclick="toggler('myContent');"><img src="img/complent.png"></a>					
				</li>
			</ul>						
            
            
		</div>
		</div>
	</nav>
</header> 
<div class="prfle"  id="myContent"><div class="prfl-dtl">
		<div class="pro-img">
			<img src="img/complent.png">
		</div>
		<h3>Rakesh Sharma<span>Andorid Developer</span></h3>
	</div>
	
	<ul>
		<!--li><a href=""><img src="img/wishlist.png">Wish List</a></li>-->
		<li><a href="myorder.html">Orders</a></li>		
		<li><a href="user-profile.html">View Profile</a></li>
		<li><a href="client-login.html">Logout</a></li>
	</ul>
</div> 

<section class="advertise-ment">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="add-with-us">
					<h3><span>ADVERTISE</span> WITH US</h3>
					<button class="ad-with" data-toggle="modal" data-target="#myModal">Contact Us</button>
				</div>
			</div>
		</div>
		<div class="row ad-wih">
			<div class="col-md-12">
				<div class="ad-deal">
					<div class="row">
						<div class="col-md-6">
							<div class="cntn-ad">
								<h3>Top Advertisement</h3>								
								<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <p> -->
							</div>
						</div>
						<div class="col-md-6">
							<div class="ad-img">
								<img src="img/add2.jpg">
								<!-- <img src"img/ad-one.jpg"> -->
								<!-- <img src="img/ad-one.jpg"> -->
							</div>
						</div>
					</div>
				</div>
				<div class="ad-deal-2">
					<div class="row">
						<div class="col-md-6">
							<div class="ad2-img">
								<img src="img/ad-two.jpg">
								<!-- <img src"img/ad-one.jpg"> -->
								<!-- <img src="img/ad-one.jpg"> -->
							</div>
						</div>
						<div class="col-md-6">
							<div class="cntn2-ad">
								<h3>Side Advertisement</h3>
								<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <p> -->
							</div>
						</div>						
					</div>
				</div>
				<div class="ad3-deal">
					<div class="row">						
						<div class="col-md-6">
							<div class="cntn3-ad">
								<h3>Side Advertisement</h3>
								<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <p> -->
							</div>
						</div>
						<div class="col-md-6">
							<div class="ad3-img">
								<img src="img/ad-three.jpg">
								<!-- <img src"img/ad-one.jpg"> -->
								<!-- <img src="img/ad-one.jpg"> -->
							</div>
						</div>						
					</div>
				</div>
				
				<div class="ad4-deal">
					<div class="row">												
						<div class="col-md-6">
							<div class="ad4-img">
								<img src="img/ad-four.jpg">								
							</div>
						</div>
						<div class="col-md-6">
							<div class="cntn4-ad">
								<h3>Footer Advertisement</h3>
								<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <p> -->
							</div>
						</div>						
					</div>
				</div>
				
				<div class="ad5-deal">
					<div class="row">																		
						<div class="col-md-6">
							<div class="cntn5-ad">
								<h3>Full Page Advertisement</h3>
								<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <p> -->
							</div>
						</div>	
						<div class="col-md-6">
							<div class="ad5-img">
								<img src="img/adallround.jpg">								
							</div>
						</div>						
					</div>
				</div>
				
				<div class="ad6-deal">
					<div class="row">												
						<div class="col-md-6">
							<div class="ad6-img">
								<img src="img/ad-six.jpg">								
							</div>
						</div>
						<div class="col-md-6">
							<div class="cntn6-ad">
								<h3>Splash  Advertisement</h3>
								<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <p> -->
							</div>
						</div>						
					</div>
					<div class="bnb">
						<div class="col-md-12 text-center">
							<button style="float: none;margin: 20px 0px;" class="ad-with" data-toggle="modal" data-target="#myModal">Contact Us</button>
						</div>
					</div>										
				</div>
			</div>
		</div>		
	</div>
</section>


<section>
	<footer class="footer-des">
		<div class="container-fluid">
			<div class="row">
				<ul class="list-inline">
					<li>
						<a href="https://www.facebook.com/brandzbix/"><img src="img/facebook-new.png"></a>
					</li>
					<li>
						<a href="https://www.instagram.com/brandzbix/"><img src="img/instagram-new.png"></a>
					</li>
					<li>
						<a href="linkedin.com/company/brandzbix"><img src="img/linkedin-new.png"></a>
					</li>			   							   	
				</ul>
			</div>
				 
			<div class="row">   
				<ul class="menu list-inline">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="news.html">News</a>
					</li>
					<li>
						<a href="store.html">Store</a>
					</li>
					<li>
						<a href="job.html">Jobs</a>
					</li>
					<li>
						<a href="coupon.html">Coupon</a>
					</li>
					<li>
						<a href="dealwithus.html">Deals</a>
					</li>
					<li>
						<a href="quize.html">Qiuz</a>
					</li>
					<li>
						<a href="blog.html">Blogs</a>
					</li>
					<li>
						<a href="advertise.html">Advertise with us</a>
					</li>
					<li>
						<a href="contact-us.html">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="hart-beat">
					<h3>Made with</h3>
					<div class="center">
						<div class="heart"></div>						
					</div>
				</div>
			</div>
		</div> 
	</footer>
	<div class="copyright">
		<div class="container-fluid">
			<div class="row text-center">
			   <p>Copyright © All RIGHTS RESERVED | <a href="#"> BRANDSBIX 2019.</a></p>
			</div>
		</div>
	</div>
</section>


<div class="add-pop">	
	<!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog model-sm">
      <div class="modal-content">      
        <!-- Modal Header -->
        <div class="modal-header">         
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
			<div class="row">	
				<div class="col-md-12 add-contact">
					<form>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="form-group form-new-ad">
								<label class="control-label" for="Name">Company Name<span>*</span></label>
								<input id="name" type="text" placeholder="Abc pvt. ltd" class="form-control" required="">
							</div>
						</div>						
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="form-group form-new-ad">
								<label class="control-label" for="Phone">Conatct Person<span>*</span></label>
								<input id="phone" type="text" placeholder="Ram Parshad" class="form-control" required="">
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="form-group form-new-ad">
								<label class="control-label" for="email">Email<span>*</span></label>
								<input id="email" type="text" placeholder="abc@gmail.com" class="form-control" required="">
							</div>
						</div>	
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
							<div class="form-group form-new-ad">
								<label class="control-label" for="textarea">Mobile No<span>*</span></label>
								<input class="form-control pdt20" id="mobil" name="mobile" placeholder="9090909090">
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
							<div class="form-group form-new-ad"">
								<label class="control-label" for="textarea">Ad Type <span>*</span></label>
								<select class="form-control" id="mobil" name="mobile" >
									<option>Full Page Advertisement</option>
									<option>Footer Advertisement</option>
									<option>Splash Advertisement</option>
									<option>Sidebar Advertisement</option>
									<option>Header Advertisement</option>
								</select>								
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
							<div class="form-group form-new-ad"">
								<label class="control-label" for="textarea">How Many Days/Months<span>*</span></label>
								<input class="form-control" id="mobil" name="mobile" placeholder="">
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
							<button class="btn submit-add">Submit</button>
							<h3 class="emal-or">
							<p>Or</p>
							<a href="#">ads@brandzbix.com</a>
							</h3>
						</div>
					</form>
				</div>
			</div>
		</div>          
        </div>
                
      </div>
    </div>
  </div>

 <script src="js/highlight.js"></script>
    <script src="js/app.js"></script>
</body>

<script>
function toggler(divId) {
    $("#" + divId).toggle();
}


 $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect

      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
	})
</script>

<script>
	// optional
		$('#blogCarousel').carousel({
				interval: 5000
		});
</script>



<script>
    $(document).ready(function () {
        $("#punchinout").click(function () {
            $(".opn-img").toggle();
            $(".overpage").fadeIn();
        });

        $(".close-punchin").click(function () {
            $(".opn-img").fadeOut();
            $(".overpage").fadeOut();
        });

    });
</script>

</html>
