<!DOCTYPE html>
<html lang="en">
<head>
 <title>Brandzbix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="img/brandzbixfavicon.ico">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/docs.theme.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
  <script src="js/popper.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
   <!-- <script src="js/jquery.min.js"></script> -->
   <script src="owlcarousel/owl.carousel.js"></script>  
  <script>
   $(document).ready(function() {
    $('.scrollbars').ClassyScroll();
   });
  </script>
  <script>
	$(window).scroll(function() {    
		var scroll = $(window).scrollTop();

		if (scroll >= 75) {
			$(".clearHeader").addClass("darkHeader");
		} else {
			$(".clearHeader").removeClass("darkHeader");
		}
	});
</script>
</head>
<body>
<header class="navbar-sec" id="topheader">
	<nav class="clearHeader">
	<div class="container-fluid">
		<div class="menu-icon">
		<i class="fa fa-bars fa-2x"></i>
		</div>
		<div class="logo">
			<a href="index.html">
				<img src="img/logo-new.png">
			</a>
		</div>
		<div class="menu">
			<ul>
				<li><a class="active" href="index.html">HOME</a></li>
				<!-- <li><a class="" href="news.html">NEWS</a></li> -->
				<!-- <li><a class="" href="store.html">STORE</a></li> -->
				<li><a class="" href="job-active.html">JOBS</a></li>
				<li><a class="" href="coupon.html">COUPONS</a></li>
				<li><a class="" href="products-services.html">PRODUCTS</a></li>
				<li><a class="" href="dealwithus.html">DEALS</a></li>
				<li class="center-link"><a class="" href="qr-code.html">QR CODE</a></li>
				<!-- <li class="center-link"><a class="" href="blog.html">BLOGS</a></li>								 -->
				<li><a class="" href="client-login.html"  style="font-weight:600;"><i class="fa fa-user-circle-o" style="margin-right:4px;"></i> Sign In</a></li>
				<li><a class="" href="client-login.html" style="font-weight:600;"><i class="fa fa-user-circle-o"  style="margin-right:4px;"></i> Sign Up</a></li>
				<li class="content-div" ><a class="" href="user-message-box.html" style="font-weight:600;"><i class="fa fa-envelope" style="margin-right:4px;"></i></a>
					<span class="msg-noti">2</span>
				</li>
				<!-- <li class="count-kart"><a class="" href="add-kart.html" style="font-weight:600;"><i class="fa fa-shopping-cart" style="margin-right:4px;"></i><span class="kart-box">1</span> Cart</a></li>								 -->
				<li class="profile-dlt">
					<a href="#" onclick="toggler('myContent');"><img src="img/complent.png"></a>					
				</li>
			</ul>						
            
            
		</div>
		</div>
	</nav>
</header> 
<div class="prfle"  id="myContent">
	<div class="prfl-dtl">
		<div class="pro-img">
			<img src="img/complent.png">
		</div>
		<h3>Rakesh Sharma<span>Andorid Developer</span></h3>
	</div>
	
	<ul>
		<!--li><a href=""><img src="img/wishlist.png">Wish List</a></li>-->
		<li><a href="myorder.html">Orders</a></li>		
		<li><a href="user-profile.html">View Profile</a></li>
		<li><a href="client-login.html">Logout</a></li>
	</ul>
</div>


<section class="user-profile">
	<div class="container-fluid user-pair">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="user-pr">
								<img src="img/user.png">
								<!-- <button class="uplod-img" type="file">Upload Image</button> -->
							</div>
							<div class="user-det">
								<h3>Rajesh Arora</h3>
								<h4>Faridabad (Haryana)</h4>
								<p>9586956866</p>
								<p>rajesh@gmail.com</p>
							</div>
							<div class="uplod-profile">
								<a href="brand-message-box.html" class="snd-msg">Send Message</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container profile-back">
		<div class="row">
			<div class="col-xl-9 col-lg-9 col-md-9 col-sm-7 col-12">
				<div class="profile-detaile-upload">
				<!-- summary detail Satart -->
					
					<div class="profile-edit-box">						
						<div class="profile-sum">
							<h3>Parsonal Summary<span style="color:#f00;">*</span></h3>
							<p>Add a personal summary to your profile as a way to introduce who you are.</p>
							<!-- <div class="edit-form feedback_form_area"> -->
								<!-- <div class="row"> -->
									<!-- <div class="col-md-12 summery-text"> -->
										<!-- <h3>Summary</h3> -->
										<!-- <p>Highlight your unique experiences, ambitions and strengths.</p> -->
										<!-- <div class="form-group">									 -->
											<!-- <textarea rows="6" type="text" id="" class="form-control" ></textarea> -->
										<!-- </div> -->
										<!-- <div class="btn-summary"> -->
											<!-- <button class="sum-save">Save</button> -->
											<!-- <button class="sum-cancel">Cancel</button> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
							<!-- </div> -->
							<!-- <button class="add-summary-btn" id="OpenForm">Add Summary</button> -->
						</div>
					</div>
					
				<!-- summary detail Satart -->
				
				<!-- carrer detail start -->
				
					<div class="profile-edit-box">						
						<div class="carrer-sum">
							<h3>Carrer History</h3>	
							<div class="save-carrer" style="margin-top:20px;">
								<h4><b style="font-weight:600;">Junior Web Designer</b> at Truxapp pvt. ltd </h4>
								<h5>Aug 2018 – Present (1 year 3 months)</h5>
								<p>Delhi, India</p>
							</div>
							<div class="save-carrer">
								<h4><b style="font-weight:600;">Junior Web Designer</b> at Truxapp pvt. ltd </h4>
								<h5>Aug 2018 – Present (1 year 3 months)</h5>
								<p>Delhi, India</p>
							</div>							
							<!-- <div class="edit-form carrer-box"> -->
								<!-- <div class="row"> -->
									<!-- <div class="col-md-12 add-rol-text"> -->
										<!-- <h3>Add Role</h3>										 -->
										<!-- <div class="form-group">																			 -->
											<!-- <label>Job Title<span>*<span></label> -->
											<!-- <input type="text" class="form-control" placeholder="Enter job title"> -->
										<!-- </div> -->
										<!-- <div class="form-group">																			 -->
											<!-- <label>Company Name<span>*<span></label> -->
											<!-- <input type="text" class="form-control" placeholder="Enter Company Name"> -->
										<!-- </div> -->
										<!-- <div class="form-group">																			 -->
											<!-- <label>Location<span>*<span></label> -->
											<!-- <input type="text" class="form-control" placeholder="Enter Location"> -->
										<!-- </div> -->
										<!-- <div class="start-date-box"> -->
											<!-- <div class="form-group">																			 -->
												<!-- <label>Satrt Date<span>*<span></label> -->
												<!-- <select class="months-box form-control"> -->
												  <!-- <option value="volvo">Month</option> -->
												  <!-- <option value="saab">Jan</option> -->
												  <!-- <option value="opel">Fab</option> -->
												  <!-- <option value="audi">Mar</option> -->
												  <!-- <option value="saab">Apr</option> -->
												  <!-- <option value="opel">May</option> -->
												  <!-- <option value="audi">Jun</option> -->
												  <!-- <option value="saab">Jul</option> -->
												  <!-- <option value="opel">Aug</option> -->
												  <!-- <option value="audi">Sep</option> -->
												  <!-- <option value="saab">Oct</option> -->
												  <!-- <option value="opel">Nov</option> -->
												  <!-- <option value="audi">Dec</option> -->
												<!-- </select> -->
												<!-- <select class="year-box form-control"> -->
												  <!-- <option value="volvo">Year</option> -->
												  <!-- <option value="saab">2009</option> -->
												  <!-- <option value="opel">2010</option> -->
												  <!-- <option value="audi">2011</option> -->
												  <!-- <option value="saab">2012</option> -->
												  <!-- <option value="opel">2013</option> -->
												  <!-- <option value="audi">2014</option> -->
												  <!-- <option value="saab">2015</option> -->
												  <!-- <option value="opel">2016</option> -->
												  <!-- <option value="audi">2017</option> -->
												  <!-- <option value="saab">2018</option> -->
												  <!-- <option value="opel">2019</option> -->
												  <!-- <option value="audi">20120</option> -->
												<!-- </select>																								 -->
											<!-- </div> -->
										<!-- </div> -->
										<!-- <div class="end-date-box"> -->
											<!-- <div class="form-group end-date">																			 -->
												<!-- <label>End Date<span>*<span></label> -->
												<!-- <select class="months-box form-control"> -->
												  <!-- <option value="volvo">Month</option> -->
												  <!-- <option value="saab">Jan</option> -->
												  <!-- <option value="opel">Fab</option> -->
												  <!-- <option value="audi">Mar</option> -->
												  <!-- <option value="saab">Apr</option> -->
												  <!-- <option value="opel">May</option> -->
												  <!-- <option value="audi">Jun</option> -->
												  <!-- <option value="saab">Jul</option> -->
												  <!-- <option value="opel">Aug</option> -->
												  <!-- <option value="audi">Sep</option> -->
												  <!-- <option value="saab">Oct</option> -->
												  <!-- <option value="opel">Nov</option> -->
												  <!-- <option value="audi">Dec</option> -->
												<!-- </select> -->
												<!-- <select class="year-box form-control"> -->
												  <!-- <option value="volvo">Year</option> -->
												  <!-- <option value="saab">2009</option> -->
												  <!-- <option value="opel">2010</option> -->
												  <!-- <option value="audi">2011</option> -->
												  <!-- <option value="saab">2012</option> -->
												  <!-- <option value="opel">2013</option> -->
												  <!-- <option value="audi">2014</option> -->
												  <!-- <option value="saab">2015</option> -->
												  <!-- <option value="opel">2016</option> -->
												  <!-- <option value="audi">2017</option> -->
												  <!-- <option value="saab">2018</option> -->
												  <!-- <option value="opel">2019</option> -->
												  <!-- <option value="audi">20120</option> -->
												<!-- </select>																								 -->
											<!-- </div> -->
											<!-- <div class="in-seclt"> -->
												<!-- <div class="chiller_cb"> -->
													<!-- <input id="myCheckbox" type="checkbox" checked> -->
													<!-- <label for="myCheckbox">Still in Role</label> -->
													<!-- <span></span> -->
												 <!-- </div>									 -->
											<!-- </div> -->
										<!-- </div> -->
										<!-- <div class="btn-summary"> -->
											<!-- <button class="sum-save">Save</button> -->
											<!-- <button class="sum-cancel">Cancel</button> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
							<!-- </div> -->
							<!-- <button class="add-summary-btn" id="career-box">Add Summary</button> -->
						</div>
					</div>
				
				<!-- carrer detail start -->
				
				
				<!-- Education Detail Start -->
				
				<div class="profile-edit-box">						
						<div class="carrer-sum">
							<h3>Education</h3>	
							<div class="save-carrer" style="margin-top:20px;">
								<h4><b style="font-weight:600;">BCA at Maharshi Dayanand University</b></h4>
								<h5>Graduated 2017</h5>
								<p>Rohtak(Haryana), India </p>
							</div>
							<div class="save-carrer">
								<h4><b style="font-weight:600;">MCA at Maharshi Dayanand University</b></h4>
								<h5>Post Graduated 2019</h5>
								<p>Rohtak(Haryana), India </p>
							</div>							
							<!-- <div class="edit-form education-box"> -->
								<!-- <div class="row"> -->
									<!-- <div class="col-md-12 add-rol-text"> -->
										<!-- <h3>Add Role</h3>										 -->
										<!-- <div class="form-group">																			 -->
											<!-- <label>Institution<span>*<span></label> -->
											<!-- <input type="text" class="form-control" placeholder="Enter Institute Name"> -->
										<!-- </div> -->
										<!-- <div class="form-group">																			 -->
											<!-- <label>Course or qualification<span>*<span></label> -->
											<!-- <input type="text" class="form-control" placeholder="Enter Qualification"> -->
										<!-- </div>										 -->
										<!-- <div class="start-date-box"> -->
											<!-- <div class="edu-complit"> -->
												<!-- <div class="chack-box"> -->
													<!-- <span></span> -->
													<!-- <label>Qualification complete</label> -->
												<!-- </div> -->
											<!-- </div> -->
											<!-- <div class="form-group">																			 -->
												<!-- <label>Satrt Date<span>*<span></label> -->
												<!-- <select class="months-box form-control"> -->
												  <!-- <option value="volvo">Month</option> -->
												  <!-- <option value="saab">Jan</option> -->
												  <!-- <option value="opel">Fab</option> -->
												  <!-- <option value="audi">Mar</option> -->
												  <!-- <option value="saab">Apr</option> -->
												  <!-- <option value="opel">May</option> -->
												  <!-- <option value="audi">Jun</option> -->
												  <!-- <option value="saab">Jul</option> -->
												  <!-- <option value="opel">Aug</option> -->
												  <!-- <option value="audi">Sep</option> -->
												  <!-- <option value="saab">Oct</option> -->
												  <!-- <option value="opel">Nov</option> -->
												  <!-- <option value="audi">Dec</option> -->
												<!-- </select> -->
												<!-- <select class="year-box form-control"> -->
												  <!-- <option value="volvo">Year</option> -->
												  <!-- <option value="saab">2009</option> -->
												  <!-- <option value="opel">2010</option> -->
												  <!-- <option value="audi">2011</option> -->
												  <!-- <option value="saab">2012</option> -->
												  <!-- <option value="opel">2013</option> -->
												  <!-- <option value="audi">2014</option> -->
												  <!-- <option value="saab">2015</option> -->
												  <!-- <option value="opel">2016</option> -->
												  <!-- <option value="audi">2017</option> -->
												  <!-- <option value="saab">2018</option> -->
												  <!-- <option value="opel">2019</option> -->
												  <!-- <option value="audi">20120</option> -->
												<!-- </select>																								 -->
											<!-- </div> -->
										<!-- </div> -->
										<!-- <div class="end-date-box"> -->
											<!-- <div class="complit-edu"> -->
												<!-- <div class="comlit-box"> -->
													<!-- <span><i class="fa fa-check" aria-hidden="true"></i></span> -->
													<!-- <label>Qualification complete</label> -->
												<!-- </div> -->
											<!-- </div> -->
											<!-- <div class="form-group end-date">																			 -->
												<!-- <label>Finished <p style="color:#ccc;display:inline-block;">(optional)</p></label>												 -->
												<!-- <select class="year-box form-control" style="width:25%;"> -->
												  <!-- <option value="volvo">Year</option> -->
												  <!-- <option value="saab">2009</option> -->
												  <!-- <option value="opel">2010</option> -->
												  <!-- <option value="audi">2011</option> -->
												  <!-- <option value="saab">2012</option> -->
												  <!-- <option value="opel">2013</option> -->
												  <!-- <option value="audi">2014</option> -->
												  <!-- <option value="saab">2015</option> -->
												  <!-- <option value="opel">2016</option> -->
												  <!-- <option value="audi">2017</option> -->
												  <!-- <option value="saab">2018</option> -->
												  <!-- <option value="opel">2019</option> -->
												  <!-- <option value="audi">20120</option> -->
												<!-- </select>																								 -->
											<!-- </div>											 -->
										<!-- </div> -->
										<!-- <div class="form-group">																			 -->
											<!-- <label>Course highlights <p style="color:#ccc;display:inline-block;margin-bottom: 0px;">(optional)</p></label> -->
											<!-- <p style="color:#ccc;margin-bottom:0px;font-weight:600;">Add activities, honours, awards or specialities achieved during your study.</p> -->
											<!-- <textarea rows="6" type="text" id="" class="form-control" ></textarea> -->
										<!-- </div>	 -->
										<!-- <div class="btn-summary"> -->
											<!-- <button class="sum-save">Save</button> -->
											<!-- <button class="sum-cancel">Cancel</button> -->
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
							<!-- </div> -->
							<!-- <button class="add-summary-btn" id="education-box">Add Summary</button> -->
						</div>
					</div>
				
				<!-- Education Detail End -->
				<!-- <div class="update-pro"> -->
					<!-- <button class="updt-pro">Update Profile</button> -->
				<!-- </div> -->
					
					<!--<ul id="accordion" class="accordion_updown">
					  <li>
						<div class="link">
							<h3>Parsonal Summary </h3>
							<i class="fa fa-chevron-down"></i>
							<button>Add Summary</button>
						</div>
						<div class="submenu">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
					  </li>
					  
					  <li>
						<div class="link"><h3>2nd Paragraph</h3> <i class="fa fa-chevron-down"></i></div>
						<div class="submenu">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
					  </li>
					  
					  <li>
						<div class="link"><h3>3rd Paragraph</h3> <i class="fa fa-chevron-down"></i></div>
						<div class="submenu">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
					  </li>
					</ul>-->
				</div>
			</div>
		</div>
	</div>
</section>


<section>
	<footer class="footer-des">
		<div class="container-fluid">
			<div class="row">
				<ul class="list-inline">
					<li>
						<a href="https://www.facebook.com/brandzbix/"><img src="img/facebook-new.png"></a>
					</li>
					<li>
						<a href="https://www.instagram.com/brandzbix/"><img src="img/instagram-new.png"></a>
					</li>
					<li>
						<a href="linkedin.com/company/brandzbix"><img src="img/linkedin-new.png"></a>
					</li>			   							   	
				</ul>
			</div>
				 
			<div class="row">   
				<ul class="menu list-inline">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="news.html">News</a>
					</li>
					<li>
						<a href="store.html">Store</a>
					</li>
					<li>
						<a href="job.html">Jobs</a>
					</li>
					<li>
						<a href="coupon.html">Coupon</a>
					</li>
					<li>
						<a href="dealwithus.html">Deals</a>
					</li>
					<li>
						<a href="quize.html">Qiuz</a>
					</li>
					<li>
						<a href="blog.html">Blogs</a>
					</li>
					<li>
						<a href="advertise.html">Advertise with us</a>
					</li>
					<li>
						<a href="contact-us.html">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="hart-beat">
					<h3>Made with</h3>
					<div class="center">
						<div class="heart"></div>						
					</div>
				</div>
			</div>
		</div> 
	</footer>
	<div class="copyright">
		<div class="container-fluid">
			<div class="row text-center">
			   <p>Copyright © All RIGHTS RESERVED | <a href="#"> BRANDSBIX 2019.</a></p>
			</div>
		</div>
	</div>
</section>



 <script src="js/highlight.js"></script>
    <script src="js/app.js"></script>
</body>


<!-- profile edit acordian -->

<script>

function toggler(divId) {
    $("#" + divId).toggle();
}


	$(document).ready(function(){
        $("#OpenForm").click(function(){
            $(".feedback_form_area").animate({
                width: "toggle"
            });
        });
    });
	
	
	<!-- carrer box -->
	
	$(document).ready(function(){
        $("#career-box").click(function(){
            $(".carrer-box").animate({
                width: "toggle"
            });
        });
    });
	
	<!-- Education box -->
	
	$(document).ready(function(){
        $("#education-box").click(function(){
            $(".education-box").animate({
                width: "toggle"
            });
        });
    });
</script>



<!-- file-upload -->


<script>

	$(document).ready( function() {
    
    	$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
		    
		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;
		    
		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }
	    
		});
		
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		        
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#imgInp").change(function(){
		    readURL(this);
		});
		
		$("#clear").click(function(){
		    $('#img-upload').attr('src','');
		    $('#urlname').val('');
		});
	});
	
</script>

<script>
	 function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<!-- file-upload -->

<script>
 $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect

      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
	})
</script>

<script>
	// optional
		$('#blogCarousel').carousel({
				interval: 5000
		});
</script>

<script>
  $(document).ready(function() {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        600: {
          items: 3,
          nav: false
        },
        1000: {
          items: 5,
          nav: true,
          loop: false,
          margin: 20
        }
      }
    })
  })
</script>
<script>
	function copyToClipboard(element) {
	  var $temp = $("<input>");
	  $("body").append($temp);
	  $temp.val($(element).text()).select();
	  document.execCommand("copy");
	  $temp.remove();
	}
</script>

<script>
	$( '#topheader .navbar-nav a' ).on( 'click', function () {
	$( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});
</script>
</html>
