<!DOCTYPE html>
<html lang="en">
<head>
 <title>Brandzbix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="img/brandzbixfavicon.ico">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/client-style.css"/>
  <link rel="stylesheet" href="css/docs.theme.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
  <script src="js/popper.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
   <!-- <script src="js/jquery.min.js"></script> -->
   <script src="owlcarousel/owl.carousel.js"></script> 
  <script>
    $(document).ready(function() {
        $('.scrollbars').ClassyScroll();
    });
  </script>
  <script>
	$(window).scroll(function() {    
		var scroll = $(window).scrollTop();

		if (scroll >= 75) {
			$(".clearHeader").addClass("darkHeader");
		} else {
			$(".clearHeader").removeClass("darkHeader");
		}
	});
</script>
</head>
<body class="mesg-back">
<header class="navbar-sec" id="topheader">
	<nav class="clearHeader">
	<div class="container-fluid">
		<div class="menu-icon">
		<i class="fa fa-bars fa-2x"></i>
		</div>
		<div class="logo">
			<a href="index.html">
				<img src="img/logo-new.png">
			</a>
		</div>
		<div class="menu">
			<ul>
				<li><a class="active" href="index.html">HOME</a></li>
				<!-- <li><a class="" href="news.html">NEWS</a></li> -->
				<!-- <li><a class="" href="store.html">STORE</a></li> -->
				<li><a class="" href="job-active.html">JOBS</a></li>
				<li><a class="" href="coupon.html">COUPONS</a></li>
				<li><a class="" href="dealwithus.html">DEALS</a></li>
				<li><a class="" href="products-services.html">PRODUCTS</a></li>
				<li class="center-link"><a class="" href="qr-code.html">QR CODE</a></li>
				<!-- <li class="center-link"><a class="" href="blog.html">BLOGS</a></li>								 -->
				<li><a class="" href="client-login.html"  style="font-weight:600;"><i class="fa fa-user-circle-o" style="margin-right:4px;"></i> Sign In</a></li>
				<li><a class="" href="client-login.html" style="font-weight:600;"><i class="fa fa-user-circle-o"  style="margin-right:4px;"></i> Sign Up</a></li>
				<li class="content-div" ><a class="" href="user-message-box.html" style="font-weight:600;"><i class="fa fa-envelope" style="margin-right:4px;"></i></a>
					<span class="msg-noti">2</span>
				</li>
				<!-- <li class="count-kart"><a class="" href="add-kart.html" style="font-weight:600;"><i class="fa fa-shopping-cart" style="margin-right:4px;"></i><span class="kart-box">1</span> Cart</a></li>								 -->
				<li class="profile-dlt">
					<a href="#" onclick="toggler('myContent');"><img src="img/complent.png"></a>					
				</li>
			</ul>							
            
            
		</div>
		</div>
	</nav>
</header> 
<div class="prfle"  id="myContent">
	<div class="prfl-dtl">
		<div class="pro-img">
			<img src="img/complent.png">
		</div>
		<h3>Rakesh Sharma<span>Andorid Developer</span></h3>
	</div>
	
	<ul>
		<!--li><a href=""><img src="img/wishlist.png">Wish List</a></li>-->
		<li><a href="myorder.html">Orders</a></li>		
		<li><a href="user-profile.html">View Profile</a></li>
		<li><a href="client-login.html">Logout</a></li>
	</ul>
</div>

<section class="message-sec">
	<div class="container-fluid">
		<div class="row" style="display:none;">
			<div class="col-md-12 no-mag-ser">
				<div class="no-message">
					<img src="img/no-message.png">
					<h3>You have no messages</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 brnd-mss">
				<div class="brnd-mesge">
					<h3>Brand Message</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 in-box-active">
				<div class="in-box">
					<div class="read-mesge">
						<button class="inbx-btn">Inbox</button>
						<!-- <button class="inbx-btn">Read</button> -->
						<!-- <button class="inbx-btn">Unread</button> -->
					</div>
					<div class="inbox-msg">
						<div class="msg-in">
							<div class="img-id">
								<img src="img/12.jpg">
							</div>	
							<div class="detal-box">
								<h3>Shafali Verma<span>1:03 PM</span></h3>
								<span>PHP Developer</span>
							</div>
						</div>
						<div class="msg-in">
							<div class="img-id">
								<img src="img/12.jpg">
							</div>	
							<div class="detal-box">
								<h3>Shafali Verma<span>1:03 PM</span></h3>
								<span>PHP Developer</span>
							</div>
						</div>
						<div class="msg-in">
							<div class="img-id">
								<img src="img/12.jpg">
							</div>	
							<div class="detal-box">
								<h3>Shafali Verma<span>1:03 PM</span></h3>
								<span>PHP Developer</span>
							</div>
						</div>
						<div class="msg-in">
							<div class="img-id">
								<img src="img/12.jpg">
							</div>	
							<div class="detal-box">
								<h3>Shafali Verma<span>1:03 PM</span></h3>
								<span>PHP Developer</span>
							</div>
						</div>
						<div class="msg-in">
							<div class="img-id">
								<img src="img/12.jpg">
							</div>	
							<div class="detal-box">
								<h3>Shafali Verma<span>1:03 PM</span></h3>
								<span>PHP Developer</span>
							</div>
						</div>
						<div class="msg-in">
							<div class="img-id">
								<img src="img/12.jpg">
							</div>	
							<div class="detal-box">
								<h3>Shafali Verma<span>1:03 PM</span></h3>
								<span>PHP Developer</span>
							</div>
						</div>
						<div class="msg-in">
							<div class="img-id">
								<img src="img/12.jpg">
							</div>	
							<div class="detal-box">
								<h3>Shafali Verma<span>1:03 PM</span></h3>
								<span>PHP Developer</span>
							</div>
						</div>						
					</div>
				</div>
			</div>
			
			<div class="col-md-8">
				<div class="messge-review">
					<div class="mesg-view">
						<div class="msg-you">
							<div class="img-you">
								<img src="img/brandzbixfavicon.ico">
							</div>	
							<div class="detal-you">
								<h3>You<span>1:03 PM</span></h3>
								
								<div class="mesge-b">
									<p>Hello Shafali Verma,<br>Thank you for your interest in the Sr. PHP Developer position at Brandzbix Technologied Pvt. Ltd.. We have reviewed your application. Unfortunately, you are not the right fit for the position at this time.</p>
									<p>I am sorry for the disappointing news. Best of luck in your job search.</p>
									<h3><span>Sincerely,</span>Pujit Chanana</h3>
								</div>
							</div>							
						</div>
						<div class="rec-msg-you">
							<div class="rec-img-you">
								<img src="img/12.jpg">
							</div>	
							<div class="rec-detal-you">
								<h3>Shafali Verma<span>1:03 PM</span></h3>
								
								<div class="rec-mesge-b">
									<p>Its okk sir</p>
									
								</div>
							</div>							
						</div>	

						<div class="msg-snd-pro">
							<div class="sub-snd">
								<textarea class="form-control form-rounded" row="1"></textarea>
								<span class="fa fa-paperclip" aria-hidden="true"></span>
								<button class="snd-btn-msg"><img src="img/snd-btn.png"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<footer class="footer-des">
		<div class="container-fluid">
			<div class="row">
				<ul class="list-inline">
					<li>
						<a href="https://www.facebook.com/brandzbix/"><img src="img/facebook-new.png"></a>
					</li>
					<li>
						<a href="https://www.instagram.com/brandzbix/"><img src="img/instagram-new.png"></a>
					</li>
					<li>
						<a href="linkedin.com/company/brandzbix"><img src="img/linkedin-new.png"></a>
					</li>			   							   	
				</ul>
			</div>
				 
			<div class="row">   
				<ul class="menu list-inline">
					<li>
						<a href="index.html">Home</a>
					</li>
					<!-- <li> -->
						<!-- <a href="news.html">News</a> -->
					<!-- </li> -->
					<!-- <li> -->
						<!-- <a href="store.html">Store</a> -->
					<!-- </li> -->
					<li>
						<a href="job.html">Jobs</a>
					</li>
					<li>
						<a href="coupon.html">Coupon</a>
					</li>
					<li>
						<a href="dealwithus.html">Deals</a>
					</li>
					<li>
						<a href="quize.html">Qiuz</a>
					</li>
					<li>
						<a href="#">Products</a>
					</li>
					<li>
						<a href="#">QR Code</a>
					</li>
					<!-- <li> -->
						<!-- <a href="blog.html">Blogs</a> -->
					<!-- </li> -->
					<!-- <li> -->
						<!-- <a href="advertise.html">Advertise with us</a> -->
					<!-- </li> -->
					<li>
						<a href="contact-us.html">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="hart-beat">
					<h3>Made with</h3>
					<div class="center">
						<div class="heart"></div>						
					</div>
				</div>
			</div>
		</div> 
	</footer>
	<div class="copyright">
		<div class="container-fluid">
			<div class="row text-center">
			   <p>Copyright © All RIGHTS RESERVED | <a href="#"> BRANDSBIX 2019.</a></p>
			</div>
		</div>
	</div>
</section>

 <script src="js/highlight.js"></script>
    <script src="js/app.js"></script>
</body>

<script>
 $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect

      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
	})
</script>




<script>
	$( '#topheader .navbar-nav a' ).on( 'click', function () {
	$( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});
</script>
</html>
