<!DOCTYPE html>
<html lang="en">
<head>
 <title>Brandzbix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="img/brandzbixfavicon.ico">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/docs.theme.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
  <script src="js/popper.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
   <!-- <script src="js/jquery.min.js"></script> -->
   <script src="owlcarousel/owl.carousel.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="js/jquery.classyscroll.js"></script>
        <link rel="stylesheet" media="screen" href="css/jquery.classyscroll.css" />       
  <script>
            $(document).ready(function() {
                $('.scrollbars').ClassyScroll();
            });
        </script>
  <script>
	$(window).scroll(function() {    
		var scroll = $(window).scrollTop();

		if (scroll >= 75) {
			$(".clearHeader").addClass("darkHeader");
		} else {
			$(".clearHeader").removeClass("darkHeader");
		}
	});
</script>
</head>
<body>

<section class="forget-pass">
	<div class="container-fluid forget-pass-back">
	<div class="row">
			<div class="col-md-12">
				<div class="home-btn">
					<a href="index.html">Home</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="forget-pass-frm">
					<div class="logo-sec">
						<img src="img/logo.png">
						<h3>Rest Password</h3>
					</div>
					<div class="forget-pass-form">
						<form>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group form-group-sm">
										<label for="firstname" class="control-label">Reg. Mobile</label>
										<input type="text" class="form-control" id="firstname" placeholder="Reg. Mobile">
									</div>
								</div>	
								<div class="col-md-12 btns">
									<button class="gen-otp">Generate OTP</button>
								</div>	
								<div class="col-md-12">
									<div class="form-group">
										<label for="lastname" class="control-label">OTP</label>
										<input type="otp" class="form-control" id="lastname" placeholder="****">
									</div>
								</div>
								
								<div class="col-md-12 otp-btn-submit">
									<button class="send-otp-sub">SUBMIT</button>
								</div>								
							</div>							
							
						</form>
					</div>					
				</div>
			</div>
		</div>
	</div>	
</section>





 <script src="js/highlight.js"></script>
    <script src="js/app.js"></script>
</body>
<script>
 $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect

      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
	})
</script>

<script>
	// optional
		$('#blogCarousel').carousel({
				interval: 5000
		});
</script>

<script>
  $(document).ready(function() {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        600: {
          items: 3,
          nav: false
        },
        1000: {
          items: 5,
          nav: true,
          loop: false,
          margin: 20
        }
      }
    })
  })
</script>
<script>
	function copyToClipboard(element) {
	  var $temp = $("<input>");
	  $("body").append($temp);
	  $temp.val($(element).text()).select();
	  document.execCommand("copy");
	  $temp.remove();
	}
</script>

<script>
	$( '#topheader .navbar-nav a' ).on( 'click', function () {
	$( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});
</script>

</html>
