<!DOCTYPE html>
<html lang="en">
<head>
 <title>Brandzbix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="img/brandzbixfavicon.ico">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="css/client-style.css">
  <link rel="stylesheet" href="css/docs.theme.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
  <script src="js/popper.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
   <!-- <script src="js/jquery.min.js"></script> -->
  
   <script src="js/jquery.min.js"></script>
   <script src="owlcarousel/owl.carousel.js"></script>
   
  <script>
            $(document).ready(function() {
                $('.scrollbars').ClassyScroll();
            });
        </script>
  <script>
	$(window).scroll(function() {    
		var scroll = $(window).scrollTop();

		if (scroll >= 75) {
			$(".clearHeader").addClass("darkHeader");
		} else {
			$(".clearHeader").removeClass("darkHeader");
		}
	});
</script>
  
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  </style>
</head>
<body>
<header class="navbar-sec" id="topheader">
	<nav class="clearHeader">
	<div class="container-fluid">
		<div class="menu-icon">
		<i class="fa fa-bars fa-2x"></i>
		</div>
		<div class="logo">
			<a href="index.html">
				<img src="img/logo-new.png">
			</a>
		</div>
		<div class="menu">
			<ul>
				<li><a class="active" href="index.html">HOME</a></li>
				<!-- <li><a class="" href="news.html">NEWS</a></li> -->
				<!-- <li><a class="" href="store.html">STORE</a></li> -->
				<li><a class="" href="job-active.html">JOBS</a></li>
				<li><a class="" href="coupon.html">COUPONS</a></li>
				<!-- <li><a class="" href="dealwithus.html">DEALS</a></li> -->
				<li><a class="" href="products-services.html">PRODUCTS</a></li>
				<li class="center-link"><a class="" href="qr-code.html">QR CODE</a></li>
				<!-- <li class="center-link"><a class="" href="blog.html">BLOGS</a></li>								 -->
				<li><a class="" href="client-login.html"  style="font-weight:600;"><i class="fa fa-user-circle-o" style="margin-right:4px;"></i> Sign In</a></li>
				<li><a class="" href="client-login.html" style="font-weight:600;"><i class="fa fa-user-circle-o"  style="margin-right:4px;"></i> Sign Up</a></li>
				<li class="content-div" ><a class="" href="user-message-box.html" style="font-weight:600;"><i class="fa fa-envelope" style="margin-right:4px;"></i></a>
					<span class="msg-noti">2</span>
				</li>
				<!-- <li class="count-kart"><a class="" href="add-kart.html" style="font-weight:600;"><i class="fa fa-shopping-cart" style="margin-right:4px;"></i><span class="kart-box">1</span> Cart</a></li>								 -->
				<li class="profile-dlt">
					<a href="#" onclick="toggler('myContent');"><img src="img/complent.png"></a>					
				</li>
			</ul>						
            
            
		</div>
		</div>
	</nav>
</header> 
<div class="prfle"  id="myContent">
	<div class="prfl-dtl">
		<div class="pro-img">
			<img src="img/complent.png">
		</div>
		<h3>Rakesh Sharma<span>Andorid Developer</span></h3>
	</div>
	
	<ul>
		<!--li><a href=""><img src="img/wishlist.png">Wish List</a></li>-->
		<li><a href="myorder.html">Orders</a></li>		
		<li><a href="user-profile.html">View Profile</a></li>
		<li><a href="client-login.html">Logout</a></li>
	</ul>
</div>

<section class="brand-pro-sec">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="post-job">
					<h3>JOBS <a href="post-job.html">Post Jobs</a></h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="active-job-drop">
					<div class="form-group act-box">
						<select class="form-control drop-down-menu">
						  <option>Active Jobs </option>
						  <option>Closed Jobs</option>
						  <option>fa fa-address-book</option>
						  <option>fa fa-ambulance</option>
						  <option>fa fa-angellist</option>						  
						</select>
					</div>
					<div class="form-group">
						<select class="form-control drop-down-menu">
						  <option>Set Status </option>
						  <option>fa fa-address-book</option>
						  <option>fa fa-ambulance</option>
						  <option>fa fa-angellist</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive table-data">
					<table class="table">
					  <thead>
						<tr>
						  <th>JOBS</th>
						  <th>LOCATION</th>
						  <th>CREATED</th>
						  <th>CANDIDATE</th>
						  <th>STATUS</th>						  
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td><input type="checkbox" name="vehicle1" value=""> PHP Developer <span>(Edit)</span></td>
						  <td>Noida, Uttar Pradesh</td>
						  <td>Nov 23</td>
						  <td><a href="apply-candidate.html">3 Candidate</a></td>
						  <td>Close</td>						  
						</tr>
						<tr>
						  <td><input type="checkbox" name="vehicle1" value=""> PHP Developer</td>
						  <td>Noida, Uttar Pradesh</td>
						  <td>Nov 23</td>
						  <td><a href="apply-candidate.html">3 Candidate</a></td>
						  <td>Open</td>						  
						</tr>
						<tr>
						  <td><input type="checkbox" name="vehicle1" value=""> PHP Developer</td>
						  <td>Noida, Uttar Pradesh</td>
						  <td>Nov 23</td>
						  <td><a href="apply-candidate.html">3 Candidate</a></td>
						  <td>Close</td>						  
						</tr>
						<tr>
						  <td><input type="checkbox" name="vehicle1" value=""> PHP Developer</td>
						  <td>Noida, Uttar Pradesh</td>
						  <td>Nov 23</td>
						  <td><a href="apply-candidate.html">3 Candidate</a></td>
						  <td>Open</td>						  
						</tr>
						<tr>
						  <td><input type="checkbox" name="vehicle1" value=""> PHP Developer</td>
						  <td>Noida, Uttar Pradesh</td>
						  <td>Nov 23</td>
						  <td><a href="apply-candidate.html">3 Candidate</a></td>
						  <td>Close</td>						  
						</tr>
						<tr>
						  <td><input type="checkbox" name="vehicle1" value=""> PHP Developer</td>
						  <td>Noida, Uttar Pradesh</td>
						  <td>Nov 23</td>
						  <td><a href="apply-candidate.html">3 Candidate</a></td>
						  <td>Open</td>						  
						</tr>
						<tr>
						  <td><input type="checkbox" name="vehicle1" value=""> PHP Developer</td>
						  <td>Noida, Uttar Pradesh</td>
						  <td>Nov 23</td>
						  <td><a href="apply-candidate.html">3 Candidate</a></td>
						  <td>Close</td>						  
						</tr>						
					  </tbody>
					</table>
				  </div>
			</div>
		</div>
	</div>
</section>

<section>
	<footer class="footer-des">
		<div class="container-fluid">
			<div class="row">
				<ul class="list-inline">
					<li>
						<a href="https://www.facebook.com/brandzbix/"><img src="img/facebook-new.png"></a>
					</li>
					<li>
						<a href="https://www.instagram.com/brandzbix/"><img src="img/instagram-new.png"></a>
					</li>
					<li>
						<a href="linkedin.com/company/brandzbix"><img src="img/linkedin-new.png"></a>
					</li>			   							   	
				</ul>
			</div>
				 
			<div class="row">   
				<ul class="menu list-inline">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="news.html">News</a>
					</li>
					<li>
						<a href="store.html">Store</a>
					</li>
					<li>
						<a href="job.html">Jobs</a>
					</li>
					<li>
						<a href="coupon.html">Coupon</a>
					</li>
					<li>
						<a href="dealwithus.html">Deals</a>
					</li>
					<li>
						<a href="quize.html">Qiuz</a>
					</li>
					<li>
						<a href="blog.html">Blogs</a>
					</li>
					<li>
						<a href="advertise.html">Advertise with us</a>
					</li>
					<li>
						<a href="contact-us.html">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="hart-beat">
					<h3>Made with</h3>
					<div class="center">
						<div class="heart"></div>						
					</div>
				</div>
			</div>
		</div> 
	</footer>
	<div class="copyright">
		<div class="container-fluid">
			<div class="row text-center">
			   <p>Copyright © All RIGHTS RESERVED | <a href="#"> BRANDSBIX 2019.</a></p>
			</div>
		</div>
	</div>
</section>

<div class="review-pop" style="display:none;">
	<div class="modal fade product_view" id="product_view">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Brandzbix
					<span>A1-C , Ground Floor, A Block, Sector 16, Noida, Uttar Pradesh</span>
						<p class="box-star">
						<b>3.9</b>
						<img src="img/star-re.png">
						<img src="img/star-re.png">
						<img src="img/star-re.png">
						<img src="img/star-re.png">
						<img src="img/star-re-hf.png">							
					</p>
					</h3>					
					<a href="#" data-toggle="modal" data-target="#write_view" class="class pull-right">Write Review</a> 					
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="my-custom-scrollbar my-custom-scrollbar-primary">			
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="review-box">
									<h3>Sanaulha Ashrifi</h3>
									<div class="star-re">							
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re-hf.png">							
									</div>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
									the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
									of type and scrambled it to make a type specimen book. </p>
								</div> 
							</div>
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="review-box">
									<h3>Sanaulha Ashrifi</h3>
									<div class="star-re">							
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re-hf.png">							
									</div>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
									the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
									of type and scrambled it to make a type specimen book. </p>
								</div> 
							</div>
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="review-box">
									<h3>Sanaulha Ashrifi</h3>
									<div class="star-re">							
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re-hf.png">							
									</div>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
									the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
									of type and scrambled it to make a type specimen book. </p>
								</div> 
							</div>
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="review-box">
									<h3>Sanaulha Ashrifi</h3>
									<div class="star-re">							
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re.png">
										<img src="img/star-re-hf.png">							
									</div>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
									the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
									of type and scrambled it to make a type specimen book. </p>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="new-poop" style="display:none;">

<button class="write-review" data-toggle="modal" data-target="#product_view">Write a Review</button>
	<div class="modal fade write_view" id="write_view">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Brandzbix					
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="bak-box">
								<div class="wrt-review">
									<img src="img/user-login.png">
									<h3>Mahesh Barwal </h3>
								</div>
								<div class="hide-id">
									<h3>Want to post anonymously? 
									
									<div class="switchToggle">
										<input type="checkbox" id="switch">
										<label for="switch">Toggle</label>
									</div>																				
									<div class="rating-str">
										<img src="img/rt-str.png">
										<img src="img/rt-str.png">
										<img src="img/rt-str.png">
										<img src="img/rt-str.png">
										<img src="img/rt-str.png">
									</div>
									

									<div class="rate-input">
										<textarea class="form-control" rows="2"  placeholder="Share details of your own experience"></textarea>
										
										<div class="btn-sub">
											<button class="post-bt">Post</button>
											<button class="cancel-bt">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

 <script src="js/highlight.js"></script>
    <script src="js/app.js"></script>
</body>

<script>

function toggler(divId) {
    $("#" + divId).toggle();
}


 $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect

      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
	})
</script>

<script>


	// optional
		$('#blogCarousel').carousel({
				interval: 5000
		});
</script>

<script>
  $(document).ready(function() {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        600: {
          items: 3,
          nav: false
        },
        1000: {
          items: 5,
          nav: true,
          loop: false,
          margin: 20
        }
      }
    })
  })
</script>
<script>
function flip() {
    $('.card').toggleClass('flipped');
}

	function copyToClipboard(element) {
	  var $temp = $("<input>");
	  $("body").append($temp);
	  $temp.val($(element).text()).select();
	  document.execCommand("copy");
	  $temp.remove();
	}
</script>

<script>
	$( '#topheader .navbar-nav a' ).on( 'click', function () {
	$( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( this ).parent( 'li' ).addClass( 'active' );
});
</script>


<script>
	$(document).ready(function () 
	 { 
	  $("#new-colplaint").click(function()
	  {
		$("#new-colplaint-show:hidden").show('slow');
	   $("#exisiting-cmplaint-show").hide();
	   $("#show-me-three").hide();
	   });
	   $("#new-colplaint").click(function()
	  {
		if($('new-colplaint').prop('checked')===false)
	   {
		$('#new-colplaint-show').hide();
	   }
	});
   
	$("#existing-colplaint").click(function()
	  {
		$("#exisiting-cmplaint-show:hidden").show('slow');
	   $("#new-colplaint-show").hide();
	   $("#show-me-three-ad").hide();
	   });
	   $("#existing-colplaint").click(function()
	  {
		if($('see-me-two-ad').prop('checked')===false)
	   {
		$('#exisiting-cmplaint-show').hide();
	   }
	});
  
	$("#look-me-ad").click(function()
	  {
		$("#show-me-three-ad:hidden").show('slow');
	   $("#new-colplaint-show").hide();
	   $("#exisiting-cmplaint-show").hide();
	   });
	   $("#look-me-ad").click(function()
	  {
		if($('see-me-three-ad').prop('checked')===false)
	   {
		$('#show-me-three-ad').hide();
	   }
	  });
	  
	});
    
	
	
	
	$(document).ready(function () 
	 { 
	  $("#watch-me").click(function()
	  {
		$("#show-me:hidden").show('slow');
	   $("#show-me-two").hide();
	   $("#show-me-three").hide();
	   });
	   $("#watch-me").click(function()
	  {
		if($('watch-me').prop('checked')===false)
	   {
		$('#show-me').hide();
	   }
	});
   
	$("#see-me").click(function()
	  {
		$("#show-me-two:hidden").show('slow');
	   $("#show-me").hide();
	   $("#show-me-three").hide();
	   });
	   $("#see-me").click(function()
	  {
		if($('see-me-two').prop('checked')===false)
	   {
		$('#show-me-two').hide();
	   }
	});
  
	$("#look-me").click(function()
	  {
		$("#show-me-three:hidden").show('slow');
	   $("#show-me").hide();
	   $("#show-me-two").hide();
	   });
	   $("#look-me").click(function()
	  {
		if($('see-me-three').prop('checked')===false)
	   {
		$('#show-me-three').hide();
	   }
	  });
	  
	});



	$(document).ready(function () 
	 { 
	  $("#watch-me-ad").click(function()
	  {
		$("#show-me-ad:hidden").show('slow');
	   $("#show-me-two-ad").hide();
	   $("#show-me-three").hide();
	   });
	   $("#watch-me-ad").click(function()
	  {
		if($('watch-me-ad').prop('checked')===false)
	   {
		$('#show-me-ad').hide();
	   }
	});
   
	$("#see-me-ad").click(function()
	  {
		$("#show-me-two-ad:hidden").show('slow');
	   $("#show-me-ad").hide();
	   $("#show-me-three-ad").hide();
	   });
	   $("#see-me-ad").click(function()
	  {
		if($('see-me-two-ad').prop('checked')===false)
	   {
		$('#show-me-two-ad').hide();
	   }
	});
  
	$("#look-me-ad").click(function()
	  {
		$("#show-me-three-ad:hidden").show('slow');
	   $("#show-me-ad").hide();
	   $("#show-me-two-ad").hide();
	   });
	   $("#look-me-ad").click(function()
	  {
		if($('see-me-three-ad').prop('checked')===false)
	   {
		$('#show-me-three-ad').hide();
	   }
	  });
	  
	});
</script>

<script>
var x, i, j, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
for (i = 0; i < x.length; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  /*for each element, create a new DIV that will act as the selected item:*/
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  /*for each element, create a new DIV that will contain the option list:*/
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < selElmnt.length; j++) {
    /*for each option in the original select element,
    create a new DIV that will act as an option item:*/
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
        /*when an item is clicked, update the original select box,
        and the selected item:*/
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
      /*when the select box is clicked, close any other select boxes,
      and open/close the current select box:*/
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
}
function closeAllSelect(elmnt) {
  /*a function that will close all select boxes in the document,
  except the current select box:*/
  var x, y, i, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  for (i = 0; i < y.length; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < x.length; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
</script>

</html>
