<!DOCTYPE html>
<html lang="en">
<head>
 <title>Brandzbix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="img/brandzbixfavicon.ico">
 <link rel="stylesheet" href="css/client-style.css">
   <link rel="stylesheet" href="css/docs.theme.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script>
  window.console = window.console || function(t) {};
</script>
<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
</head>
<body translate="no" class="">

<header class="navbar-sec" id="topheader">
	<nav class="clearHeader">
	<div class="container-fluid">
		<div class="menu-icon">
		<i class="fa fa-bars fa-2x"></i>
		</div>
		<div class="logo">
			<a href="index.html">
				<img src="img/logo-new.png">
			</a>
		</div>
		<div class="menu">
			<ul>
				<li><a class="" href="index.html">HOME</a></li>
				<!-- <li><a class="" href="news.html">NEWS</a></li> -->
				<!-- <li><a class="" href="store.html">STORE</a></li> -->
				<li><a class="" href="job-active.html">JOBS</a></li>
				<li><a class="" href="coupon.html">COUPONS</a></li>
				<li><a class="" href="dealwithus.html">DEALS</a></li>
				<li><a class="active" href="products-services.html">PRODUCTS</a></li>
				<li class="center-link"><a class="" href="qr-code.html">QR CODE</a></li>
				<!-- <li class="center-link"><a class="" href="blog.html">BLOGS</a></li>								 -->
				<li><a class="" href="client-login.html"  style="font-weight:600;"><i class="fa fa-user-circle-o" style="margin-right:4px;"></i> Sign In</a></li>
				<li><a class="" href="client-login.html" style="font-weight:600;"><i class="fa fa-user-circle-o"  style="margin-right:4px;"></i> Sign Up</a></li>
				<li class="content-div" ><a class="" href="user-message-box.html" style="font-weight:600;"><i class="fa fa-envelope" style="margin-right:4px;"></i></a>
					<span class="msg-noti">2</span>
				</li>
				<!-- <li class="count-kart"><a class="" href="add-kart.html" style="font-weight:600;"><i class="fa fa-shopping-cart" style="margin-right:4px;"></i><span class="kart-box">1</span> Cart</a></li>								 -->
				<li class="profile-dlt">
					<a href="#" onclick="toggler('myContent');"><img src="img/complent.png"></a>					
				</li>
			</ul>						
            
            
		</div>
		</div>
	</nav>
</header>
<div class="prfle"  id="myContent">
	<div class="prfl-dtl">
		<div class="pro-img">
			<img src="img/complent.png">
		</div>
		<h3>Rakesh Sharma<span>Andorid Developer</span></h3>
	</div>
	
	<ul>
		<!--li><a href=""><img src="img/wishlist.png">Wish List</a></li>-->
		<li><a href="myorder.html">Orders</a></li>		
		<li><a href="user-profile.html">View Profile</a></li>
		<li><a href="client-login.html">Logout</a></li>
	</ul>
</div>
<section class="product-brand-sec">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="product-box">
					<h3>Product / Services <a href="" data-toggle="modal" data-target="#edit-prodct" class="prod-edit">Add Products / Services</a></h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
				<div class="ps-d">
					<img src="img/ladis-bag2.png">
					<div class="max-w">
						<p>Vans Sk8-Hi<span>Lorem Ipsum is simply dummy  </span></p>
						<a class="view-m" href="#">View</a>
					</div>
				</div>
			</div>							
			<!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12"> -->
				<!-- <div class="product-pic"> -->
					<!-- <img src="img/ladis-bag2.png"> -->
					<!-- <h3>Vans Sk8-Hi</h3> -->
					<!-- <p>Lorem Ipsum is simply dummy text of the</p> -->
					<!-- <a class="visit-web" href="#">Visit Website</a> -->
				<!-- </div> -->
			<!-- </div>						 -->
		</div>		
	</div>
</section>
<section>
	<footer class="footer-des">
		<div class="container-fluid">
			<div class="row">
				<ul class="list-inline">
					<li>
						<a href="https://www.facebook.com/brandzbix/"><img src="img/facebook-new.png"></a>
					</li>
					<li>
						<a href="https://www.instagram.com/brandzbix/"><img src="img/instagram-new.png"></a>
					</li>
					<li>
						<a href="linkedin.com/company/brandzbix"><img src="img/linkedin-new.png"></a>
					</li>			   							   	
				</ul>
			</div>
				 
			<div class="row">   
				<ul class="menu list-inline">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="news.html">News</a>
					</li>
					<li>
						<a href="store.html">Store</a>
					</li>
					<li>
						<a href="job.html">Jobs</a>
					</li>
					<li>
						<a href="coupon.html">Coupon</a>
					</li>
					<li>
						<a href="dealwithus.html">Deals</a>
					</li>
					<li>
						<a href="quize.html">Qiuz</a>
					</li>
					<li>
						<a href="blog.html">Blogs</a>
					</li>
					<li>
						<a href="advertise.html">Advertise with us</a>
					</li>
					<li>
						<a href="contact-us.html">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="hart-beat">
					<h3>Made with</h3>
					<div class="center">
						<div class="heart"></div>
						
					</div>
				</div>
			</div>
		</div> 
	</footer>
	<div class="copyright">
		<div class="container-fluid">
			<div class="row text-center">
			   <p>Copyright © All RIGHTS RESERVED | <a href="#"> BRANDSBIX 2019.</a></p>
			</div>
		</div>
	</div>
</section>
<!-- Add Product Star -->

<div class="edit-sec">
	<div class="modal fade edit-prot" id="edit-prodct">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="model-hd">Add Products / Services </h3>					
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 about-sec-edit">
							<div class="prodct-sec">							
								<div class="file-upload">									
									<div class="image-upload-wrap">
										<input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
										<div class="drag-text">
										  <h3><img src="img/add-photo.png"></h3>
										</div>
									</div>
									<div class="file-upload-content">
										<img class="file-upload-image" src="#" alt="your image" />
										<div class="image-title-wrap">
										  <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
										</div>
									</div>
								</div>															
								<div class="form-group pro-top">
									<label>Product Name</label>
									<input type="text" class="form-control" placeholder="Enter Product Name">
									<span></span>
								</div>
								<div class="form-group">
									<label>Product Desciription</label>
									<textarea rows="7" cols="50" name="comment" form="usrform" placeholder="Enter Product Desciription"></textarea>
								</div>
								<div class="form-group">
									<label>Website Link</label>
									<input type="text" class="form-control" placeholder="E.g www.abc.com">
								</div>
								<!-- <div class="form-group"> -->
									<!-- <label>Terms & Conditions</label> -->
									<!-- <input type="text" class="form-control" placeholder="E.g minimum order Rs.999"> -->
								<!-- </div> -->
								<button class="save-pro">Save</button>								
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Add product End -->



<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script id="rendered-js">
      $(document).on("click", '[data-toggle="lightbox"]', function (event) {
  event.preventDefault();
  $(this).ekkoLightbox();
});
      //# sourceURL=pen.js
    </script>
<script>

function toggler(divId) {
    $("#" + divId).toggle();
}


 $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect

      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
	})
	
	$(document).ready(function(){
  $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
    
    $(".zoom").hover(function(){
		
		$(this).addClass('transition');
	}, function(){
        
		$(this).removeClass('transition');
	});
});
    
</script>

</body>
</html>